﻿
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
    <script src="https://js.stripe.com/v3/"></script>

    <style>
        /** Stripe
        * The CSS shown here will not be introduced in the Quickstart guide, but shows
        * how you can use CSS to style your Element's container.
        */
        .StripeElement {
            box-sizing: border-box;
            height: 40px;
            padding: 10px 12px;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: white;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }

        .formContainer {
            padding-top: 25px;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <form action="/payment/postpayment" method="post" id="payment-form" class="needs">
                    <div class="formContainer">
                        <div class="col-xs-12" style="border-bottom:#eee 1px solid; margin-bottom: 15px;">
                            <h3 style="color: #333; font-weight: 800"><strong>Billing Details</strong></h3>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="email">
                                    Email Address
                                </label>
                                <input type="email" class="form-control" id="emailaddress" placeholder="Email Address" required>
                                <input type="hidden" value="hdnTextValue" id="hdnText" />
                            </div>
                            <div class="form-group">
                                <label for="card-element">
                                    Credit or debit card
                                </label>
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors. -->
                                <div id="card-errors" role="alert"></div>
                                <input type="hidden" id="myInput" value="@ViewBag.StripePublicKey" />
                            </div>
                        </div>

                        <button class="btn btn-primary">Submit Payment</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">

    var stripeHidden = document.getElementById('myInput').value;
    //console.log('Hidden Value ' + myVal)
    // Create a Stripe client.
    var stripe = Stripe(stripeHidden); //Stripe('pk_test_8AuI0i9pYw4zSNAm1GZYmbBC00HzTs7x3N');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');
    // Handle real-time validation errors from the card Element.
    card.on('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        //Get the email form value
        var emailvalue = document.getElementById('emailaddress').value;

        var emailInput = document.createElement('input');
        emailInput.setAttribute('type', 'hidden');
        emailInput.setAttribute('name', 'hdnEmailAddress');
        emailInput.setAttribute('value', emailvalue);
        form.appendChild(emailInput);

        //console.log(email);

        // Submit the form
        form.submit();
    }
</script>
