﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

section {
    padding: 100px 0;
}
section h2 {
    font-size: 50px;
}
    section.features .section-heading {
        margin-bottom: 100px;
    }

        section.features .section-heading h2 {
            margin-top: 0;
        }

        section.features .section-heading p {
            margin-bottom: 0;
        }

    section.features .device-container,
    section.features .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }

    section.features .device-container {
        margin-bottom: 100px;
    }

@media (min-width: 992px) {
    section.features .device-container {
        margin-bottom: 0;
    }
}

section.features .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

section.features .feature-item h3 {
    font-size: 30px;
}

section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: linear-gradient(to left, #7b4397, #dc2430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.cta {
    position: relative;
    padding-top: 600px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom:0px;
    background-image: url("../Content/Images/CTALighterGray.png");
    background-position: center;
    background-size: cover;
    /*background-color: #fcbd20;*/
}

section.cta .cta-content {
    position: relative;
    z-index: 1;
    margin-top: -160px;
}

section.cta .cta-content h2 {
    max-width: 520px;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff;
    line-height: 1em;
}

@media (min-width: 768px) {
    section.cta .cta-content h2 {
        font-size: 70px;
    }
}

section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}
