﻿@{
    ViewBag.Title = "Home Page";

}

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <div style="margin-top:-350px;">
                <h2 style="color:#333;font-weight:700">Want a 1-1</h2>
                <h2 style="color:#333;font-weight:700">Putting Assessment?</h2>
                <h2 style="color:lightgray; font-weight:700">
                    Would you like a 1-1 putting assessment from one of our Academy Coaches?
                </h2>
            </div>      
        </div>
    </div>
</section>

<div class="jumbotron">
    <p class="lead">Want a 1-1 Putting Assessment? </p>
    <div class="row">
        <div class="col-md-12">
            <p>Would you like a 1-1 putting assessment from one of our Academy Coaches?</p>
            <p>We have tried to provide the most comprehensive, personalised plan anywhere in the world, but we get it…</p>

            <p>Sometimes you just want to have a coach look at your stroke.</p>
            <p>And if that’s the case, as you would expect we have some of the top coaches on the planet as part of this academy program.</p>
            <p>All of our coaches are qualified as putting specialists via the Phil Kenyon Putting Solutions Training Courses, so each coach understands Phil’s system inside out.</p>

            <p>As a member of the program you are eligible for an 1-1 assessment and video blueprint call at a reduced rate of £69.</p>
            <p>So, here’s what to next?</p>

            <p>Step 1</p>
            <p>Complete the form and payment at the bottom of this page.</p>
            <p>Step 2</p>
            <p>We will send you a couple of tests and videos to complete.</p>
            <p>Step 3</p>
            <p>Once you have completed your task, you upload your videos and results to our coach’s area.</p>
            <p>Step 4</p>
            <p>
            <p>We will then select the perfect coach for you. Your coach will arrange a strategy call (that fits around your diary). 
                The call is via zoom and can take place from anywhere in the world.</p>
            <p>Step 5</p>
            <p>During your call your coach will talk you through his findings and recommend some specific drills to help.</p>
            <p>Step 6</p>
            <p>Your coach will deliver a video assessment of your stroke along with his recommend drills straight which will be added to your coach’s area after the call.</p>
            <p><a class="btn btn-primary" href="/payment">Book your assessment</a></p>

            <p>Sounds great. Do you offer 1-1 online coaching?</p>

            <p>A number of our members want to go even deeper in their understanding and maximise their true putting potential.</p>
            <p>Because of this we have put together a 12-week 1-1 online coaching package.</p>

            <p>All our putting performance programs include monthly assessments and review sessions. </p>
            <p>Phil has been referred to as the ‘hottest putting coach in the world” by Todays golfer and for every member of our coaching team, getting results for you and improving your game is our number 1 goal.</p>
            <p>In fact, Phil personally oversees all 1-1 programs.</p>

            <p>It’s this level of detail which allows us to be the only online coaching system (that we know of) which gives 100% guaranteed results. 
                Simply put, when you invest in us you are guaranteed to improve your putting game.</p>
            <p>If you are unhappy with anything after your first month of 1-1 online coaching, you will receive every penny back.</p>
            <p>We have 3 different options which your coach will be happy to talk you through on your strategy call.</p>
            <p>Do I have to sign up to sign up to 1-1 coaching if I want my assessment?</p>
            <p>No absolutely not. Some people just have their assessment to help their understanding and then continue with the videos and drills you receive as a member.</p>
            <p>Again, your coach will advise the best way for you personally to become the great putter you are ready to be.</p>
            <p><a class="btn btn-primary" href="/payment">Book your assessment</a></p>

        </div>

    </div>

</div>